@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  font-family: "Concert One", cursive !important;
}
::-webkit-scrollbar {
  display: none;
}
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
header {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 2rem;
  background-color: white;
  border: 1px solid black;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: rgb(252, 183, 55);
}
header img {
  width: 15rem;
  margin-right: 1rem;
}
.choose {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
input,
button {
  display: flex;
  align-items: center;
  height: 3rem;
  font-size: 1.3rem !important;
  margin-right: 1rem;
  border: 2px solid black;
  cursor: pointer;
  padding: 0.5rem;
}
input:hover,
button:hover {
  border: 2px solid green;
  background-color: rgb(117, 168, 39);
  color: white;
}

/*------------ container ------------*/
.container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
#google_translate_element {
  width: 10%;
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 1rem;
  margin-right: 1rem;
}
#table-container {
  width: 80%;
  height: 40rem;
  overflow-y: auto;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
}
table {
  width: 100%;
}

tr th {
  position: sticky;
  top: 0%;
  height: 5rem;
  text-align: center;
  font-size: 2em;
  background-image: linear-gradient(
    95deg,
    rgb(236, 175, 61),
    rgb(231, 202, 152),
    orange
  );
  color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  padding: 0.5rem;
  margin: 0.5rem;
}

tr td {
  padding: 0.5rem;
  background: white;
  color: black;
  border: 2px solid white;
  padding: 0.5rem;
  margin: 0.5rem;
}

@media (max-width: 800px) {
  header {
    font-size: 1.2rem;
    flex-direction: column;
  }

  header img {
    width: 5rem;
  }
  .choose {
    flex-direction: column;
  }
  input,
  button {
    width: 90%;
    font-size: 0.8rem !important;
    margin-right: 0rem;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  #google_translate_element {
    width: 90%;
    justify-content: center;
    margin-right: 0;
  }
  #table-container {
    width: 90%;
  }
}
